html {
    font-family: Helvetica, Arial, "Sans Serif";
    padding: 0;
}

body {
    margin: 0;
}

header {
    width: 100%;
    padding-top: 10px;
}

#headerImg {
    display: inline-block;
    margin-left: 5px;
}

header h1 {
    display: inline-block;
    margin: 0;
}

header h2 {
    display: inline-block;
    margin: 0 0 0 20px;
}

header hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0,0,0,.2), rgba(0, 0, 0, 0));
    margin: 0;
}

#sidebar {
    display: inline-block;
    height: 100%;
    background-color: #BFBFBF;
    border-right: 2px solid black;
}

#content {
    display: inline-block;
    height: 100%;
}

#sidebar a {
    color: black;
    text-decoration: none;
}

#sidebar h3 {
    margin: 0;
    padding: 10px;
}

#sidebar h5 {
    margin: 0;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 5px;
}

#sidebar hr {
    margin: 0;
}

#selected {
    background-color: #4e84a2;
}
